setuptools
Flask
bs4
youtube-search-python
wikipedia
googlesearch.py
flask_wtf
numpy
pandas
nltk
Keras
requests
pygame
COVID19Py
gunicorn
billboard.py
pytz
https://storage.googleapis.com/tensorflow/windows/cpu/tensorflow_cpu-2.12.0-cp310-cp310-win_amd64.whl
